@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap')

$basic-font: 'Goldman', cursive
$font-stack: $basic-font, "Lucida Sans Unicode", "Lucida Grande", sans-serif
$black: #2b3038
$white: #fffbf7
$font-size: 2em

@mixin div-coloring($name)
    div.div-#{$name}
        //background-color: inspect(#$name)
        width: 30vw
        height: 50vh
        margin: 10px
        top: 200px
        left: 200px

@mixin background($name, $duration,$z-index, $repeat)
    background: url('../images/'+$name+'.png') repeat $repeat $repeat
    position: absolute
    top: 0 
    left: 0 
    right: 0 
    bottom: 0
    z-index: $z-index

    -webkit-animation-name: STAR-MOVE
    -webkit-animation-duration: $duration
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count: infinite


body
    font-family: $font-stack
    font-size: $font-size
    color: $white
    margin: 0

@include div-coloring(black)

#background 
    @include background(background, 200s, 100, 5%)

#midground 
    @include background(midground, 150s, 200, 20%)


#foreground 
    @include background(foreground, 100s, 300, 35%)

#nav-container
    background: rgba(0,0,0,0.7)
    z-index: 500
    display: flex
    padding: 20px
    width: 100vw
    position: sticky
    justify-content: space-between
    
#page-wrap 
    width: 720px
    margin: 0 auto
    position: relative
    z-index: 500
    background: rgba(0,0,0,0.7)
    overflow: hidden
    padding: 30px 50px

@-webkit-keyframes STAR-MOVE 
    from 
        left: 0
        top: 0
    to  
        left: -10000px
        top: -2000px


