@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@-webkit-keyframes STAR-MOVE {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}
body {
  font-family: "Goldman", cursive, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2em;
  color: white;
  margin: 0;
  overflow: hidden;
}

#background {
  background: url("../images/background.png") repeat 5% 5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#midground {
  background: url("../images/midground.png") repeat 20% 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 150s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#foreground {
  background: url("../images/foreground.png") repeat 35% 35%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.space {
  text-decoration: underline;
}

#nav-container {
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
  display: flex;
  padding: 20px;
  width: 100% -padding;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
  text-align: center;
  max-height: 10rem;
}
#nav-container img {
  width: 10rem;
}

#sidebar {
  background: rgba(248, 248, 248, 0.7);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  position: fixed;
  right: -200px;
  top: 200px;
  height: auto;
  z-index: 500;
  padding: 10px;
  transition-duration: 0.3s;
}
#sidebar a {
  filter: invert(1);
  width: 3rem;
  margin: 10px 0;
}

#sidebar-btn {
  grid-area: sidebar;
  background: white;
  color: white;
  margin-right: 40px;
  border: unset;
}

#sidebar-btn :hover {
  cursor: pointer;
}
#sidebar-btn :hover rect:first-child {
  transform: rotate(45deg) translate(20%, -40%);
  transform: translate(0, 100);
  transition-duration: 0.4s;
}
#sidebar-btn :hover rect:nth-child(2) {
  transform: scale(0);
}
#sidebar-btn :hover rect:last-child {
  transform: rotate(-45deg) translate(-45%, 2%);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.4s;
}

#page-wrap {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 500;
  background: rgba(0, 0, 0, 0.7);
  min-height: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.card {
  display: flex;
  width: 30%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  justify-content: space-between;
}
.card > img {
  max-width: 200px;
  max-height: 280px;
  margin: 20px;
}

.book {
  max-width: 100px;
  font-family: "Goldman", cursive, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: white;
  border: none;
}

.divider {
  background-color: white;
  color: #2b3038;
  width: 100%;
  max-height: 1.2em;
  padding-left: 20px;
}

@-moz-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

#footer {
  width: 100%;
  max-height: 1.2em;
  padding-left: 20px;
  z-index: 600;
  font-size: 0.5em;
}
#footer img {
  max-width: 30px;
  filter: invert(1);
}
#footer > a:first-child img {
  transform: rotate(-50deg);
}
#footer > a:last-child {
  margin-right: 20px;
}
#footer img:hover {
  filter: invert(0.3);
}

/*# sourceMappingURL=style.css.map */
